.header-container {
  text-align: center;
  background-color: #f8f8f8;
  padding: 20px;
  background-image: linear-gradient(to bottom, #779f7a, #ebebeb);
}

.title-group {
  margin-bottom: 10px;
}

.title-group h1 {
  font-size: 32px;
  color: #333;
}

.title-group h2 {
  font-size: 20px;
  color: #555;
}

.info {
  font-size: 16px;
  color: #666;
  margin-bottom: 5px;
}

.hr-line {
  height: 1px;
  background-color: #ddd;
  margin: 20px 0;
}

.examples-container {
  margin-left: -6px;
  margin-right: 5px;
  margin-top: -5px;
}

.example-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
  list-style: none;
  padding: 0;
}
 
.example-item {
  position: relative;
  width: 100%;
  margin: 1.5%;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  text-decoration: none;
}

.example-item img,
.example-item video {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.example-item h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #000; /* Set the desired text color */
}

.example-item p {
  font-size: 16px;
  margin-bottom: 10px;
  color: #000; /* Set the desired text color */
}

.example-item a {
  text-decoration: none;
  color: var(--link-color);
  cursor: var(--link-cursor);
}

.example-item[data-has-link="true"]:hover {
  cursor: var(--link-cursor);
  text-decoration: none;
}

